.home-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 2px solid #e1e1e1;

  &__group {
    display: flex;
    align-items: center;
  }

  &__select {
    margin-right: 15px;
  }
}
